# Python Data Structures and Boolean
- Integers
- String
- Boolean
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets
## Boolean Variables -in-built function :bool()

-- Boolean values are the two constant objects False and True.They are written as False and True, respectively.

-- They are used to represent truth values (other values can also be considered false or true).

-- In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

### usages of boolean 
 1. you  evaluate any expression in Python, and get one of two answers, True or False.
  -- Almost any value is evaluated to True if it has some sort of content.

  -- Any string is True, except empty strings.

  -- Any number is True, except 0.

  -- Any list, tuple, set, and dictionary are True, except empty ones.

In [1]:
print(bool("Hello"))
print(bool(15))

True
True

In [2]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [3]:
## most of the values are True
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [135]:
##Some Values are False
## In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

2.  When you compare two values, the expression is evaluated and Python returns the Boolean answer

In [136]:


print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

3. when you run a condition in an if statement, pyhton returns True or False

In [137]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [138]:
True ## in-built function

True

In [139]:
False ## in-built function

False

In [140]:
print(True,False)

True False

In [141]:
type(True)

bool

In [142]:
type(False)

bool

## Strings with inbuilt functions return boolean values

In [143]:
my_str='Siva Priya'
my_str.isalpha() ## consider the space as not alphabetic

False

In [144]:
my_str1='Sivapriya'

In [145]:
my_str1.isalpha()

True

In [146]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('a')) #test if string endswith s
print(my_str.startswith('s')) #test if string startswith a ## case sensitive
print(my_str.startswith('S')) #test if string startswith a

False
False
False
True
False
False
False
True
False
True

### Boolean with logical operators

In [147]:
True and True

True

In [148]:
False and False

False

In [149]:
True and False

False

In [150]:
False and True

False

In [151]:
True or True

True

In [152]:
False or False

False

In [153]:
True or False

True

In [154]:
False or True

True

In [6]:
str_example='Hello World'
my_str='SivaPriya'
my_str.isalpha() or str_example.isnum()
#my_str1.isalpha() or str_example.isnum()

True

# Python Collections (Arrays)
  There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    - *Set items are unchangeable, but you can remove and/or add items whenever you like.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.
     -  **As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

# Lists - inbuilt function : list()
 - A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]
 
 - Lists are used to store multiple items in a single variable.

 - Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

- Lists are created using square brackets[]
- it can have diffrent data types in the same list
- list allows duplicate values
- datatypes of list are numbers,strings, booleans

In [156]:
type([])

list

In [7]:
my_lst=[]
print(type(my_lst))
print(bool(my_lst))

<class 'list'>
False

In [158]:
my_lst=list() 
type(my_lst)

list

In [159]:
my_lst= ['siva','priya',10,20]
type(my_lst)

list

In [160]:
len(my_lst)

4

### PYTHIN IN-BUILT FUNCTION WITH LISTS
#### Append
 -- append is used to add elements in the list

In [161]:
my_lst.append("success") ## add in the end of the list by default

In [162]:
print(my_lst)

['siva', 'priya', 10, 20, 'success']

In [163]:
my_lst

['siva', 'priya', 10, 20, 'success']

In [164]:
my_lst.append(["Data","Scientist"]) ## adding list in the list
my_lst

['siva', 'priya', 10, 20, 'success', ['Data', 'Scientist']]

### indexing in the list 
-- indexing always starts with 0th position in python list

In [165]:
my_lst[5]

['Data', 'Scientist']

In [166]:
my_lst[:] ## returns the entire list

['siva', 'priya', 10, 20, 'success', ['Data', 'Scientist']]

In [167]:
my_lst[1:] ## returns from 1st to till end

['priya', 10, 20, 'success', ['Data', 'Scientist']]

In [168]:
my_lst[2:4] ## returns from first to before the 4th position

[10, 20]

## Insert
#### insert in a specific order

In [169]:
my_lst.insert(2,"hard work") # 2 specifies the index where the value needs to be inserted
my_lst

['siva', 'priya', 'hard work', 10, 20, 'success', ['Data', 'Scientist']]

#### Diffrence between Append and Extend

In [170]:
lst=[1,2,3]
lst.append([4,5]) ## it adds as list
lst

[1, 2, 3, [4, 5]]

In [171]:
lst.extend([6,7]) # adds as numbers 
lst

[1, 2, 3, [4, 5], 6, 7]

Various Operations that we can perform in List

In [172]:
lst=([1,2,3,4])
sum(lst)

10

In [173]:
lst1=([1,2,"cat","dog"])
sum(lst1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
lst1=(["cat","dog"])
sum(lst1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [175]:
lst*5 ## the whole list will be appended by the number of time given

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### Remove items from the list

In [176]:
lst=([1,2,3,4])
lst.remove(3)      ## removes the value mentioned 
lst

[1, 2, 4]

In [10]:
lst=(["a","b",4,5])
lst.remove(4)      ## removes the value
lst

['a', 'b', 5]

### pop() method - The pop() method removes the specified index.
-- Returns the value in the specific index

In [177]:
lst=([1,2,3,4])
lst.pop() ## by default it removes the last item in the list

4

In [178]:
lst

[1, 2, 3]

In [179]:
lst.pop(2)

3

In [180]:
lst

[1, 2]

In [12]:
##count():Calculates total occurrence of given element of List
lst=([1,1,2,3,1,4])
lst.count(1)

3

In [13]:
#length:Calculates total length of List
len(lst)

6

In [15]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst=([2,1,1,3,1,4])
print(lst.index(1))
print(lst.index(2))

1
0

In [17]:
lst.index(1,2,4) ## start and End index values are given where to look the value 1 in then list

2

# sets

In [189]:
myset = {'apple', 'banana', 'cherry'}
myset
##print(len(myset))
#type(myself)

{'apple', 'banana', 'cherry'}

In [191]:
# add new items to the existing set
myset = {"apple", "banana", "cherry"}

myset.add("orange")

print(myset)

{'banana', 'cherry', 'orange', 'apple'}

In [196]:
#  Add Sets
# To add items from another set into the current set, use the update() method.


myset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

myset.update(tropical) #Add elements from tropical into thisset

print(myset)

{'papaya', 'banana', 'cherry', 'mango', 'pineapple', 'apple'}

In [197]:
# Add Any Iterable
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

# Example: Add elements of a list to at set:

myset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

myset.update(mylist)

print(myset)

{'banana', 'orange', 'kiwi', 'cherry', 'apple'}

### Remove Item from Sets
To remove an item in a set, use the remove(), or the discard() method.

In [198]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana") # If the item to remove does not exist, remove() will raise an error.

print(thisset)

{'cherry', 'apple'}

In [199]:
thisset = {"apple", "banana", "cherry"}

thisset.discard ("banana") # If the item to discard does not exist, discard() will raise an error.

print(thisset)

{'cherry', 'apple'}

In [202]:
# clear() clears all the items in the set 
thisset = {"apple", "banana", "cherry"}

thisset.clear () 

print(thisset)

set()

In [205]:
# del keyword deletes entire set completely
thisset = {"apple", "banana", "cherry"}
del thisset

#print(thisset)

# Tuples
- list of values grouped together like lists
### Diff bw Tuples and lists
  - 1. Lists - all values have similar meaning(homogeneous)
     - Ex1: expense_list={200,400,500} - every item is expense
     - Ex2: names_list ={"siva","priya","sivapriya"} - every item is name
  -    Tuples - all values have diffrent meaning (hetrogeneous)
         -  Ex1: point=(5,10) - 5 is x co-ordinate , 10 is y co-ordinate
         - Ex2:address=("peter street","windsor",canada") - everything is address but denotes diffrent items like street names, province, country
     
  - 2. Tuples are immutable -not changable like lists

In [190]:
mytyple=('apple','banana',1,2)
mytyple
##print(len(mytuple))
##print(type(mytuple))

('apple', 'banana', 1, 2)

## Dictionary
 - can have any data types including int, boolean, float, list,string,etc..
 - dictionaryname.items() - returns both key and value in dict
 - dictionaryname.keys() - returns  keys in dict
 - dictionaryname.values() - returns values in dict

In [16]:
mydict={"Car" : "Honda", "model" :"Civic","year" :"2000","colors":["red","green","black","white"]}
mydict

{'Car': 'Honda',
 'model': 'Civic',
 'year': '2000',
 'colors': ['red', 'green', 'black', 'white']}

In [17]:
print(type(mydict))

<class 'dict'>

In [18]:
print(len(mydict))

4

In [19]:
# add to dictionary
mydict["owner"]="priya"
mydict

{'Car': 'Honda',
 'model': 'Civic',
 'year': '2000',
 'colors': ['red', 'green', 'black', 'white'],
 'owner': 'priya'}

In [21]:
#delete from dictionary
del mydict["colors"] 
mydict

{'Car': 'Honda', 'model': 'Civic', 'year': '2000'}

In [28]:
# to print all the values in a dictionary
mydict={"Car" : "Honda", "model" :"Civic","year" :"2000","colors":["red","green","black","white"]}
for x in mydict: # fetches only the key values by default;  x=key
 print(x)

Car
model
year
colors

In [30]:
#way 1 to print both key and values of a sictionary 
mydict={"Car" : "Honda", "model" :"Civic","year" :"2000","colors":["red","green","black","white"]}
for key  in mydict:
 print("key:",key,"value:",mydict[key])

key: Car value: Honda
key: model value: Civic
key: year value: 2000
key: colors value: ['red', 'green', 'black', 'white']

In [33]:
mydict={"Car" : "Honda", "model" :"Civic","year" :"2000","colors":["red","green","black","white"]}
for k,v  in mydict.items():  #items() return both the key and values
 print("key:",k,"value:",k)

key: Car value: Car
key: model value: model
key: year value: year
key: colors value: colors

In [37]:
# to check if a key is existing in a dictionary
"Car"in mydict

True

In [40]:
"Car"in mydict.keys()

True

In [39]:
"Honda" in mydict.values()

True

In [41]:
"Honda" in mydict.keys()

False

In [43]:
# clear the keys and values in dict, but the structure will be remain
dict={"Car" : "Honda", "model" :"Civic","year" :"2000"}
dict.clear()
print(dict)

{}

### Nested Dictionary

In [9]:
# method 1"
ndict={
    "car1":{"name":"Toyato","year":2005},"car2":{"name":"Kia","year":2010},"car3":{"name":"Tesla","year": 2020 }}
ndict

{'car1': {'name': 'Toyato', 'year': 2005},
 'car2': {'name': 'Kia', 'year': 2010},
 'car3': {'name': 'Tesla', 'year': 2020}}

In [25]:
#method 2:
car1={"name":"Toyato","year":2005}
car2={"name":"Kia","year":2010}
car3={"name":"Tesla","year": 2020 }
car4={"car_model1":car1,"carmodel2":car2,"carmodel3":car3}
print("Nested Dictioanry:",car4)
print("car_model1 :",car4["car_model1"])

Nested Dictioanry: {'car_model1': {'name': 'Toyato', 'year': 2005}, 'carmodel2': {'name': 'Kia', 'year': 2010}, 'carmodel3': {'name': 'Tesla', 'year': 2020}}
car_model1 : {'name': 'Toyato', 'year': 2005}

In [18]:
car4={"car_model1":car1,"carmodel2":car2,"carmodel3":car3}
car4

{'car_model1': {'name': 'Toyato', 'year': 2005},
 'carmodel2': {'name': 'Kia', 'year': 2010},
 'carmodel3': {'name': 'Tesla', 'year': 2020}}

In [22]:
print(car4["car_model1"])

{'name': 'Toyato', 'year': 2005}

In [23]:
print(car4["car_model1"]["name"])

Toyato